html {
	height: 100%;
}

body {
	height: 100%;
}

#body-wrap {
	height: 100%;
	background-color: hsla(210, 8%, 95%, 1);
}

.center {
	text-align: center;
}

.full-height {
	height: 100%;
}

.slim {
	font-weight: 200;
}
