<% report ||= @report %>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, extensions = {}) %>
<div style="font-family:helvetica;">
	<h1 style="text-align:center">
		<%= report.title %>
	</h1>
	<hr>
	<%= markdown.render(report.body).html_safe %>
</div>
